
.input-email {
    width: 270px;
    height: 18px;
    padding: 8px 5px 6px 38px;
    margin-top: 30px;
    border-radius: 7px;
    background-image: url(./icon-email.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    border: none;
    font-size: large;
    outline: 1px solid black;
}


.input-password {
    width: 270px;
    height: 18px;
    padding: 8px 5px 6px 38px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-image: url(./icon-password.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    border: none;
    font-size: large;
    outline: 1px solid black;
}

input:focus {
    outline: 1px solid blue;
}

.btn {
    width: 313px;
    height: 40px;
    margin-top: 20px;
    color: aliceblue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(47, 100, 247);
    border-radius: 7px;
    border: none;
}

.btn:hover {
    background-color: rgb(20, 81, 248);
}

.loginform {
    background-color: bisque;
    background-image: url(./login-windows.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 529px;
    text-align: center;
    margin: 180px auto;
    padding-top: 60px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px 5px rgb(112, 111, 111);
}
.test{
    display: flex;
    margin: 0 auto;
    width: 313px;
}

.error {
    color: crimson;
    display: inline-block;
    width: fit-content;
    font-size: small;
    font-family:'Times New Roman', Times, serif

}

.register-link {
    margin-left: auto;
    display: inline-block;
    width: fit-content;  
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.help-link {
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-help {
    padding-right: 20px;
    text-align: right;
}